model_version: 2.0
product_va_config:
    name: CBRS PCR VA Report
    product_name: eric-cbrs-dc
    version: {version}
    va_template_version: 2.0.0
    description: CBRS VA Report for Precodereview Job
    images:
        - /eric-cbrs-dc:{version}
    mitigations:
        CVE-2015-8855:
            mitigation: This is a placeholder, example mitigation. Add mitigation steps below
            sce:
                sce-id: SCE-1234-00
                status: Pending
                expires: 2022-12-10T00:00:00Z
